@import '@/assets/styles/variables';
@import '@/assets/styles/mixins';

.wrapper {
  @include glassEffect;
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 15px;

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    > span {
      color: $white;
    }

    > h1 {
      color: $white;
      font-size: 22px;
      margin: 0;
      margin-left: 1rem;
    }
  }

  > p {
    color: $white;
    opacity: 0.8;
    line-height: 1.66;
  }

  .additional {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    .rating {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-radius: 30px;
      border: 2px solid rgba(255, 255, 255, 0.04);

      > span:nth-of-type(2) {
        color: $white;
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }

    .duration {
      margin-right: 1rem;
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-radius: 30px;
      border: 2px solid rgba(255, 255, 255, 0.04);

      > span:nth-of-type(2) {
        color: $white;
        font-weight: bold;
        margin-left: 0.5rem;
      }
    }
  }

  .map {
    margin-top: 1rem;
  }
}
